{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/vote.css' %}" />
    <title>Vote</title>
  </head>
  <body>
    <!-- Seção do código que trabalha as imagens -->
    <div class="imagens">
      <div class="top">
        <div class="bandeirolas">
          <!-- div só contem background -->
        </div>
      </div>
      <div class="center">
        <div class="anarrie">
          <p>Anarriê!</p>
        </div>
      </div>
      <div class="bottom">
        <div class="bottom-esquerda">
          <img
            class="fogueira"
            src="{% static 'assets/home/fogueira.png' %}"
            alt=""
            aria-hidden="true" />
          <img
            class="cacto"
            src="{% static 'assets/home/cacto.png' %}"
            alt=""
            aria-hidden="true" />
        </div>
        <div class="bottom-direita">
          <img
            class="casal"
            src="{% static 'assets/home/casal.png' %}"
            alt=""
            aria-hidden="true" />
          <img
            class="igreja"
            src="{% static 'assets/home/igreja.png' %}"
            alt=""
            aria-hidden="true" />
        </div>
      </div>
    </div>
    <!-- Seção do código que trabalha os elementos funcionais -->
    <main>
      <div class="envelope">
        <form method="post" action="{% url 'post_datas' %}">
          {% csrf_token %}
          <div class="lado_esquerdo">
            <div>Escolha sua Rainha</div>

            {% for q in c_queen %}
            <div class="container_select">
              <input
                required
                type="radio"
                name="queen"
                id="{{q.id}}"
                value="{{q.id}}" />
              <label for="{{q.id}}">{{q.name}}</label>
            </div>
            {% endfor %}
          </div>
          <div class="lado_direito">
            <div>Escolha seu Rei</div>

            {% for k in c_king %}
            <div class="container_select">
              <input
                required
                type="radio"
                name="king"
                id="{{k.id}}"
                value="{{k.id}}" />
              <label for="{{k.id}}">{{k.name}}</label>
            </div>
            {% endfor %}
          </div>

          <button class="push">ENVIAR</button>
        </form>
      </div>
    </main>
  </body>
</html>
